@model MyApp.Model.User

<div class = "Aptitude-image">
    <div>
        <h2 class = "ms-10">Aptitude</h2>
        <form asp-action="Aptitude" method="post">
        <input type="hidden" name= "id" value = "@Model.id">
        <h2>Hey Mr. @Model.Name, Please Choose the difficulty Level</h2>

        <button type = "submit" name="Sub" value="Aptitude_Easy">Easy</button><br><br>

        <button type = "submit" name="Sub" value="Aptitude_Medium">Medium</button><br><br>

        <button type = "submit" name="Sub" value="Aptitude_Difficult">Difficult</button><br><br>

        <button type = "submit" name="Sub" value="Aptitude_Advanced">Advanced</button><br><br>
        </form>
    </div>
</div>