@model MyApp.Model.User

<div class = "English-image">
    <div>
        <h2 class = "ms-10">English</h2>
        <form asp-action="English" method="post">
        <input type="hidden" name= "id" value = "@Model.id">
        <h2>Hey Mr. @Model.Name, Ready to take on the challenge</h2>

        <button type = "submit" name="Sub" value="Eng">Go to Quiz</button><br><br>

        </form>
    </div>
</div>