@model MyApp.Model.User

<div class = "Logical-image">
    <div>
        <h2 class = "ms-10">Logical</h2>
        <form asp-action="Logical" method="post">
        <input type="hidden" name= "id" value = "@Model.id">
        <h2>Hey Mr. @Model.Name, Please Choose the difficulty Level</h2>

        <button type = "submit" name="Sub" value="Logical_Easy">Easy</button><br><br>

        <button type = "submit" name="Sub" value="Logical_Medium">Medium</button><br><br>

        <button type = "submit" name="Sub" value="Logical_Difficult">Difficult</button><br><br>

        <button type = "submit" name="Sub" value="Logical_Advanced">Advanced</button><br><br>
        </form>
    </div>
</div>