@model MyApp.Model.User

<div class = "Logical-image">
    <div>
        <h2 class = "ms-10">Logical</h2>
        <form asp-action="Logical" method="post">
        <input type="hidden" name= "id" value = "@Model.id">
        <h2>Hey Mr. @Model.Name, Ready to twist your brain</h2>

        <button type = "submit" name="Sub" value="Logic">Go to Quiz</button><br><br>

        </form>
    </div>
</div>