@model MyApp.Model.User

<div class = "Mathematics-image">
    <div>
        <h2 class = "ms-10">Mathematics</h2>
        <form asp-action="Mathematics" method="post">
        <input type="hidden" name= "id" value = "@Model.id">
        <h2>Hey Mr. @Model.Name, Welcome</h2>

        <button type = "submit" name = "Sub" value = "Math">Go To Quiz</button><br><br>

        </form>
    </div>
</div>