@model MyApp.Model.User

<div class = " Register-image container d-flex justify-content-center align-items-center min-vh-100">  
    <div>
       <h2 class="text-center mb-4">Reset Password</h2>
        <form asp-action="Password_Reset" method="post" autocomplete = "off">
            <input type="hidden" asp-for="Email">

            <label>Password:</label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" style="color:red"></span>
            <br><br>
            
            <label>Confirm Password:</label>
            <input asp-for="C_Password" type="password" />
            <span asp-validation-for="C_Password" style="color:red"></span>
            <br><br>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>